######################################################################################################################################################
# Neptune 3 Pro
######################################################################################################################################################

[printer]
kinematics: cartesian
max_velocity: 250
max_accel: 5000
max_z_velocity: 15
max_z_accel: 200
square_corner_velocity: 5


######################################################################################################################################################
# X-Axis
######################################################################################################################################################
[stepper_x]
step_pin: !PC12
dir_pin: PB3
enable_pin: !PD2
microsteps: 16
rotation_distance: 40
endstop_pin: PA13
position_endstop: -6.0
position_min: -6.0
position_max: 235
homing_speed: 50


######################################################################################################################################################
# Y-Axis
######################################################################################################################################################
[stepper_y]
step_pin: PC11
dir_pin: PA15
enable_pin: !PC10
microsteps: 16
rotation_distance: 40
endstop_pin: PB8
position_endstop: 0
position_max: 235
homing_speed: 50


######################################################################################################################################################
# Z-Axis
######################################################################################################################################################
[stepper_z]
step_pin: PC7
dir_pin: !PC9
enable_pin: !PC8
rotation_distance: 8
microsteps: 16
position_min: -3.5
position_max: 280
endstop_pin: probe:z_virtual_endstop 
homing_speed: 5.0


######################################################################################################################################################
# Homing and Leveling
######################################################################################################################################################
[safe_z_home]
home_xy_position: 115, 115 # The probe should be in the centre of the bed, otherwise adjust.
z_hop: 10
z_hop_speed: 15
speed: 100


[bed_mesh]
speed: 150
horizontal_move_z: 8 # change this to 2 if you're using the Eddy
mesh_min: 30, 30
mesh_max: 205, 205
probe_count: 9, 9
algorithm: bicubic
fade_start: 1
fade_end: 10
fade_target: 0


[axis_twist_compensation]
speed: 100
horizontal_move_z: 10
calibrate_start_x: 58
calibrate_end_x: 233
calibrate_y: 100


[screws_tilt_adjust]
screw1: 50, 10
screw1_name: front-left screw

screw2: 200, 10
screw2_name: front-right screw

screw3: 200, 180
screw3_name: back-right screw

screw4: 50, 180
screw4_name: back-left screw

speed: 100
horizontal_move_z: 10
screw_thread: CW-M3